
html {
  scroll-behavior: smooth;
}
@import "tailwindcss";



:root {
  --background: #18181b;
  --foreground: #FFD700;
  --primary: #18181b;
  --accent: #FFD700;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #111112;
    --foreground: #e5e5e5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
